@import 'partials/_var';
@import 'partials/_mixin';
@import 'partials/_general';
@import 'partials/_header';
@import 'partials/_footer';

body {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: $brandBG;
        height: 100%;
        width: 95%;
        left: 2.5%;
        z-index: -1;
    }
}
.modal {
    width: 40%;
    display: none;
    text-align: center;

    @include respond-to($tablet-portrait) {
        width: calc(40% - 5px);
    }

    @include respond-to($phone) {
        width: 90%;
        align-items: center;
        margin-top: 20px;
    }

    p.h7 {
        font-weight: 700;
    }

    input {
        margin-top: 20px;
        border-bottom: 4px solid #E5E5E5;
        width: 364px;
        height: 34px;
        @extend h6;

        &::placeholder {
            @extend h6;
            color: #BDBDBD;
        }

        &:focus {
            border-bottom: 4px solid $brandGreen;
        }

        @include respond-to($tablet-portrait) {
            width: 245px;
            font-size: 18px;
            border-radius: 0;
        }

        @include respond-to($phone) {
            width: 100%;
        }

    }

    input[type='submit'] {
        width: 370px;
        height: 108px;
        border: 1px solid $brandGreen;
        color: $brandGreen;
        background: $brandWhite;
        @include transition(.3s);

        &:hover {
            background: $brandGreen;
            color: $brandWhite;
        }

        @include respond-to($tablet-portrait) {
            width: 245px;
            font-size: 18px;
        }

        @include respond-to($phone) {
            width: 100%;
        }
    }

}

button.button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 458px;
    height: 108px;
    background: $brandGreen;
    padding: 6px 6px 6px 30px;
    bottom: -100px;
    left: 0;
    color: $brandWhite;
    @extend h6;
    cursor: pointer;
    box-shadow: 0 0 0 1px $brandGreen;

    .btn {
        width: 136px;
        height: 97px;
        background: $brandWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend .h7;
        text-align: center;
        color: $brandGreen;
        @include transition(.3s);
        position: relative;

        &::before {
            content: url('../img/roundArrow.svg');
            position: absolute;
            bottom: -60px;
            left: -130px;
        }
    }

    &:hover {
        background: $brandWhite;
        color: $brandGreen;

        .btn {
            background: $brandGreen;
            color: $brandWhite;
        }
    }

    @include respond-to($forCart) {
        left: 50%;
        transform: translateX(-50%);
    }

    @include respond-to($phone) {
        height: 60px;
        width: 300px;
        font-size: 17px;
        padding: 0 3px 0 25px;
        bottom: -70px;

        .btn {
            width: 70px;
            height: 54px;
            font-size: 16px;
            line-height: 16px;

            &::before {
                left: -80px;
                bottom: -40px;
                content: url('../img/roundArrowMob.svg');
            }
        }
    }
}

.banner {
    .button {
        position: relative;
        bottom: 0;
    }
}

section.banner {
    display: grid;
    grid-template-columns: 55% 25% 20%;
    grid-template-rows: repeat(12, 2.5vw);
    row-gap: 5px;
    column-gap: 5px;
    margin-top: 30px;
    width: calc(100% - 10px);

    @include respond-to($forCart) {
        grid-template-columns: 100%;
        column-gap: 0;
        row-gap: 10px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        margin-top: 0;
    }

    .gridImg {
        background-repeat: no-repeat;
        background-size: 140%;
        background-position: center;
        transition: all .5s ease-in-out;

        &:hover {
            background-size: 160%;
            transition: all .5s ease-in-out;
        }

        @include respond-to($forCart) {
            background-size: cover;
            width: 95%;
            height: 500px;
            margin: 0 auto;
        }

        @include respond-to($tablet-portrait) {
            height: 400px;
        }

        @include respond-to($phone) {
            height: 210px;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: $brandWhite;

            h2 {
                text-align: center;
            }
        }

        &:first-child {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 13;
            background-image: url(../img/one.png);

            a {

                span {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    position: relative;

                    h3 {
                        text-align: right;
                        font-size: 40px;
                        line-height: 40px;
                        font-family: $bebas;

                        @include respond-to($forCart) {
                            svg {
                                display: none;
                            }
                        }

                        @include respond-to($phone) {
                            font-size: 23px;
                            line-height: 23px;
                        }
                    }

                    h2 {
                        font-size: 120px;
                        line-height: 120px;

                        @include respond-to($phone) {
                            font-size: 41px;
                            line-height: 41px;
                        }
                    }
                }
            }

            @include respond-to($forCart) {
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
            }
        }

        &:nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 7;
            background-image: url(../img/two.png);

            @include respond-to($forCart) {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }

        &:nth-child(3) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 7;
            grid-row-end: 13;
            background-image: url(../img/three.png);

            @include respond-to($forCart) {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }

        &:nth-child(4) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 5;
            background-image: url(../img/four.png);

            @include respond-to($forCart) {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 5;
            }
        }

        &:nth-child(5) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 5;
            grid-row-end: 9;
            background-image: url(../img/fife.png);

            @include respond-to($forCart) {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 5;
                grid-row-end: 6;
            }
        }

        &:nth-child(6) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 9;
            grid-row-end: 13;
            background-image: url(../img/six.png);

            @include respond-to($forCart) {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 6;
                grid-row-end: 7;
            }
        }
    }

}

.btnProduction {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 370px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $brandWhite;
    border: 1px solid $brandGreen;
    color: $brandGreen;
    @extend h6;

    &:hover {
        background: $brandGreen;
        color: $brandWhite;
    }

    @include respond-to($tablet-portrait) {
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }
}

.block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 130px;
    flex-flow: row wrap;

    @include respond-to($phone) {
        justify-content: center;
    }

    .portfolio {
        width: 100%;
        margin: 20px 0;

        @include respond-to($unslick) {
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;

            div {
                margin: 0 10px 30px;
                margin-top: -50px;
                min-height: 350px;
                max-width: 300px;
                flex: 0 0 calc(20% - 20px);
                width: calc(20% - 20px);
                box-shadow: 0px 4px 20px rgba(46, 46, 46, 0.1);

                a.item {
                    display: flex;
                    flex-direction: column;
                    background: $brandWhite;
                    position: relative;
                    border-top: 5px solid $brandGreen;

                    .imgWrapp {
                        width: 100%;
                        height: 130px;
                        overflow: hidden;
                        margin: 0;
                        min-height: 130px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }


                    .textBlock {
                        display: flex;
                        flex-direction: column;
                        padding: 20px 15px 85px 15px;
                        margin: 0;
                        width: 100%;
                        min-height: 270px;

                        h5 {
                            margin-bottom: 20px;
                            text-transform: none;
                            line-height: 20px;
                        }

                        p {
                            line-height: 17px;
                        }
                    }

                    button {
                        position: absolute;
                        background: $brandGreen;
                        width: 80%;
                        height: 58px;
                        bottom: 0;
                        right: 0;
                        cursor: pointer;
                        color: $brandWhite;
                        box-shadow: 0 0 0 1px $brandGreen;

                        &:hover {
                            background: $brandWhite;
                            color: $brandGreen;
                        }
                    }
                }
            }
        }

        .slick-prev {
            z-index: 70;
            left: 10px;

            &::before {
                position: absolute;
                content: url('../img/arrowSlickLeft.svg');
                left: 0;
            }
        }

        .slick-next {
            z-index: 70;
            right: 0;

            &::before {
                position: absolute;
                content: url('../img/arrowSlickRight.svg');
                right: 10px;
            }
        }

        .slick-list {
            height: 350px;
        }

        .slick-slide {
            display: flex;
            justify-content: center;

            a.item {
                width: 300px;
                display: flex;
                flex-direction: column;
                background: $brandWhite;
                position: relative;
                box-shadow: 0px 4px 20px rgba(46, 46, 46, 0.1);
                border-top: 5px solid $brandGreen;

                // @include respond-to($tablet-portrait) {
                //     margin-top: 50px;
                //     flex-basis: 200px;
                //     width: 200px;
                // }

                .imgWrapp {
                    width: 100%;
                    height: 130px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .textBlock {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 15px 85px 15px;

                    h5 {
                        margin-bottom: 20px;
                        text-transform: none;
                    }
                }

                button {
                    position: absolute;
                    background: $brandGreen;
                    width: 80%;
                    height: 58px;
                    bottom: 0;
                    right: 0;
                    cursor: pointer;
                    color: $brandWhite;
                    @extend p;
                    box-shadow: 0 0 0 1px $brandGreen;

                    &:hover {
                        background: $brandWhite;
                        color: $brandGreen;
                    }
                }
            }
        }
    }
}


.ourPortfolio {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h2 {
        margin-bottom: 30px;
        text-align: center;
    }

    .block {

        .portfolio {
            width: 100%;

            .slick-prev {
                z-index: 70;
                left: 10px;

                &::before {
                    position: absolute;
                    content: url('../img/arrowSlickLeft.svg');
                    left: 0;
                }
            }

            .slick-next {
                z-index: 70;
                right: 10px;

                &::before {
                    position: absolute;
                    content: url('../img/arrowSlickRight.svg');
                    right: 0;
                }
            }

            .slick-slide {
                display: flex;
                justify-content: center;

                img {
                    width: 80%;
                    height: auto;
                }
            }

            @include respond-to($unslick) {
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;

                div {
                    width: calc(25% - 15px);
                    height: 16vw;
                    flex: 0 0 calc(25% - 15px);
                    margin: 0;
                    max-width: calc(25% - 15px);
                    min-height: auto;
                    background: transparent;
                    box-shadow: none;

                    img {
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 95%;
                    }
                }
            }
        }

        // display: flex;
        // justify-content: space-between;
        // flex-flow: row wrap;

        // @include respond-to($tablet-portrait) {
        //     justify-content: space-around;
        // }

        // img {
        //     width: calc(25% - 20px);
        //     height: 320px;
        //     margin: 10px 0;
        //     object-fit: cover;
        //     object-position: center;

        //     @include respond-to($tablet-portrait) {
        //         width: calc(350px - 20px);
        //     }
        // }
    }
}

.containerMin {
    .howItWork {
        width: 100%;

        h2 {
            text-align: center;
            margin-top: 0;
        }
        .noPadding{
            padding-bottom: 0;
        }
        .block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            position: relative;
            padding-bottom: 150px;

            @include respond-to($phone) {
                justify-content: center;
                padding-bottom: 80px;
            }

            img.desktop {
                @include respond-to($phone) {
                    display: none;
                }
            }

            img.mob {
                display: none;

                @include respond-to($phone) {
                    display: block;
                }
            }

            // &:last-child {
            //     padding-bottom: 170px;
            // }

            .button {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: $brandWhite;
                color: $brandGreen;
                box-shadow: 0 0 0 1px $brandGreen;

                .btn {
                    background: $brandGreen;
                    color: $brandWhite;

                    &::before {
                        content: none;
                    }
                }

                &:hover {
                    background: $brandGreen;
                    color: $brandWhite;

                    .btn {
                        background: $brandWhite;
                        color: $brandGreen;
                    }
                }
            }

            // .item{
            //     position: relative;
            //     &::before{
            //         position: absolute;
            //         content: url('../img/arrow.svg');
            //         top: 25%;
            //         right: 110%;
            //     }
            //     &:first-child{
            //         &::before{
            //             content: none;
            //         }
            //     }
            // }
        }
    }
}

.formBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @include respond-to($phone) {
        flex-direction: column;
        align-items: center;
    }

    .img {
        width: 55.5%;
        height: 667px;
        background-image: url(../img/formImg.png);
        background-size: cover;
        background-position: right;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include respond-to($tablet-portrait) {
            justify-content: flex-start;
            height: 375px;
        }

        @include respond-to($phone) {
            width: 100%;
        }

        .text {
            width: 407px;
            margin: 100px 0 0 160px;

            @include respond-to($tablet-portrait) {
                margin: 30px 0 0 30px;
            }

            @include respond-to($phone) {
                width: 256px;

                h2 {
                    font-size: 24px;
                    line-height: 30px;
                }
            }

            h2 {
                text-align: left;

                &:last-child {
                    color: $brandGreen;
                }
            }
        }
    }

    .form {
        width: calc(40% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include respond-to($tablet-portrait) {
            width: calc(40% - 5px);
        }

        @include respond-to($phone) {
            width: 90%;
            align-items: center;
            margin-top: 20px;
        }

        p.h7 {
            font-weight: 700;
        }

        input {
            margin-top: 20px;
            border-bottom: 4px solid #E5E5E5;
            width: 364px;
            height: 34px;
            @extend h6;

            &::placeholder {
                @extend h6;
                color: #BDBDBD;
            }

            &:focus {
                border-bottom: 4px solid $brandGreen;
            }

            @include respond-to($tablet-portrait) {
                width: 245px;
                font-size: 18px;
                border-radius: 0;
            }

            @include respond-to($phone) {
                width: 100%;
            }

        }

        input[type='submit'] {
            width: 370px;
            height: 108px;
            border: 1px solid $brandGreen;
            color: $brandGreen;
            background: $brandWhite;
            @include transition(.3s);

            &:hover {
                background: $brandGreen;
                color: $brandWhite;
            }

            @include respond-to($tablet-portrait) {
                width: 245px;
                font-size: 18px;
            }

            @include respond-to($phone) {
                width: 100%;
            }
        }

    }
}

.second {
    margin-top: 150px;

    h2 {
        margin-bottom: 50px;
        text-align: center;
    }

    .block {
        .item {
            margin-top: 0;
        }
    }
}

.containerMin {


    .home {
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
        position: relative;
        flex-direction: column;

        h2 {
            margin: 0;
        }

        .button {
            left: 50%;
            transform: translate(-50%);
            bottom: 0;
            background: $brandWhite;
            color: $brandGreen;
            box-shadow: 0 0 0 1px $brandGreen;

            .btn {
                background: $brandGreen;
                color: $brandWhite;

                &::before {
                    content: none;
                }
            }

            &:hover {
                background: $brandGreen;
                color: $brandWhite;

                .btn {
                    background: $brandWhite;
                    color: $brandGreen;
                }
            }
        }
    }
}

.containerMin {

    h2 {
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;
    }

    .client {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            padding-bottom: 0;

            @include respond-to($phone) {
                justify-content: space-between;
                width: 90%;
            }

            .item {
                width: calc(25% - 20px);

                @include respond-to($phone) {
                    width: 45%;
                    align-items: center;
                    display: flex;
                    height: 100px;
                    justify-content: center;
                    margin-bottom: 20px;
                }

                img {
                    height: auto;
                    max-height: 100%;
                    width: auto;
                    max-width: 100%;
                }
            }
        }
    }

    .reviewBlock {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 150px;

        .review {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 900px;
            padding: 83px 120px;
            background: $brandWhite;

            @include respond-to($tablet-portrait) {
                width: 90%;
            }

            @include respond-to($phone) {
                padding: 20px 20px 70px 20px;
            }

            .item {
                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    color: $brandGreen;
                    margin: 15px 0 30px 0;
                }

                p.h8 {
                    text-align: center;
                    color: $brandText;
                }
            }
        }

        .transform {
            width: 82px;
            height: 100%;
            background: $brandGreen;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            right: 0;
            box-shadow: 0 0 0 1px $brandGreen;

            @include respond-to($phone) {
                display: none;
            }

            &:hover {
                background: $brandWhite;

                svg {
                    path {
                        fill: $brandGreen;
                    }
                }

                h2 {
                    color: $brandGreen;
                }
            }

            svg {
                margin-top: 10px;
            }

            span {
                position: relative;
                width: 120%;
                height: 70%;

                h2 {
                    position: absolute;
                    transform: rotate(-90deg);
                    margin: 0;
                    color: $brandWhite;
                    top: 75px;
                    left: -65px;
                    width: 235px;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 35px;
                }
            }
        }

        .transformMob {
            display: none;

            @include respond-to($phone) {
                width: 100%;
                padding: 5px 0;
                background: $brandGreen;
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                bottom: 0;
                box-shadow: 0 0 0 1px $brandGreen;

                h2 {
                    color: $brandWhite;
                    margin: 0 0 0 20px;
                }

                &:hover {
                    background: $brandWhite;

                    svg {
                        path {
                            fill: $brandGreen;
                        }
                    }

                    h2 {
                        color: $brandGreen;
                    }
                }

                svg {
                    margin-right: 20px;
                }

                // span {
                //     position: relative;
                //     width: 120%;
                //     height: 70%;

                //     h2 {
                //         position: absolute;
                //         transform: rotate(-90deg);
                //         margin: 0;
                //         color: $brandWhite;
                //         top: 75px;
                //         left: -65px;
                //         width: 235px;
                //         font-weight: 400;
                //         font-size: 35px;
                //         line-height: 35px;
                //     }
                // }
            }

        }


        .btnProduction {
            background: $brandGreen;
            left: 50%;
            transform: translate(-50%);
            height: 75px;
            color: $brandWhite;
            font-family: $bebas;
            font-size: 35px;
            line-height: 35px;

            &:hover {
                background: $brandWhite;
                color: $brandGreen;
            }

            @include respond-to($phone) {
                display: none;
            }
        }
    }
}

.container {
    .main {
        background-image: url('../img/services.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 445px;
        margin-top: 15px;
        position: relative;

        @include respond-to($phone) {
            height: 395px;
            padding: 0 10px;
        }

        span {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            color: $brandWhite;
            margin-top: 15px;
            max-width: 770px;

            h2 {
                @include respond-to($phone) {
                    font-size: 40px;

                    svg {
                        display: none;
                    }
                }
            }

            h1 {
                font-size: 70px;
                line-height: 80px;

                @include respond-to($phone) {
                    font-size: 50px;
                    line-height: 50px;
                }
            }
        }

        .breadcrumbs {
            position: absolute;
            left: 0;
            bottom: 0;
            background: $brandWhite;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 20px;
            height: 64px;

            li {
                position: relative;
                display: flex;
                align-items: center;

                &::after {
                    content: url('../img/Vector.svg');
                    display: inline-block;
                    margin: 0 10px;

                }

                &:first-child {
                    &::before {
                        position: relative;
                        content: url('../img/LogoVector.svg');
                        left: -10px;
                    }
                }

                &:last-child {
                    &::after {
                        content: none;
                    }
                }
            }
        }

    }

    .services {
        width: 100%;

        .block {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-bottom: 0;

            @include respond-to($phone) {
                justify-content: center;
            }

            .items {
                margin: 15px 0;
                width: calc(50% - 15px);
                height: 230px;
                background-image: url('../img/servicesImg.png');
                background-repeat: no-repeat;
                background-size: 130%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include respond-to($phone) {
                    height: 110px;
                    width: 90%;

                    h2 {
                        font-size: 30px;
                    }
                }

                h2 {
                    color: $brandWhite;
                }

                &:hover {
                    background-size: 170%;
                }
            }
        }
    }

    .third {
        margin-top: 70px;

        .block {
            padding-bottom: 70px;

            div {
                margin-top: 0;
            }
        }
    }
}

.infoBlock {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;

    @include respond-to($phone) {
        flex-direction: column;
    }

    * {
        margin: 5px 15px;
    }

    .links {
        width: 100px;
        display: flex;
        justify-content: space-between;

        a {
            margin: 0;

            img {
                @include transition(.3s);
            }

            &:hover {
                img {
                    transform: translateY(-5px);
                    @include transition(.3s);
                }
            }
        }
    }

    h6 {
        color: $brandGreen;
    }

    .h8 {
        color: $brandPhone;
        margin-top: 8px;
        display: block;
    }

    .mail {
        a.h8 {
            margin-top: 8px;
            display: block;
        }
    }
}

.containerMiddle {
    width: 100%;
    display: flex;
    flex-direction: column;

    .formBlock {
        margin-top: 30px;
        justify-content: center;

        .form {
            width: 30%;
            margin-left: 30px;

            @include respond-to($phone) {
                width: 90%;
                margin-left: 0;
            }
        }
    }
}

.accordeon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .acc {
        width: 965px;
        position: relative;

        @include respond-to($tablet-portrait) {
            width: 90%;
        }

        @include respond-to($phone) {
            width: auto;
            margin: 0 15px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li.accActive {
                margin-bottom: 10px;
                background: $brandWhite;
                border: 4px solid rgba(66, 142, 67, .4);

                h6.titleAcc {
                    display: flex;
                    align-items: center;
                    color: $brandText;
                    padding: 30px 100px 30px 50px;
                    cursor: pointer;
                    position: relative;

                    @include respond-to($phone) {
                        font-size: 11px;
                    }

                }

                .btnAcc {
                    position: absolute;
                    right: 10px;
                    background: $brandGreen;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    span {
                        width: 50%;
                        height: 4px;
                        background: $brandWhite;
                        @include transition(.3s);
                        transform: translateY(2px);

                        &:last-child {
                            transform: rotate(90deg)translateX(-2px);
                        }
                    }
                }


                .blockDown {
                    background: $brandWhite;
                    max-height: 0px;
                    overflow: hidden;
                    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;
                }


                p {
                    padding: 10px 100px 40px 50px;
                }
            }

            li.accNoActive {
                margin-bottom: 10px;
                background: $brandWhite;
                border: 4px solid rgba(66, 142, 67, .4);

                h6.titleAcc {
                    display: flex;
                    align-items: center;
                    color: $brandText;
                    padding: 30px 100px 30px 50px;
                    cursor: pointer;
                    position: relative;

                    @include respond-to($phone) {
                        font-size: 11px;
                    }

                }

                .btnAcc {
                    position: absolute;
                    right: 10px;
                    background: $brandGreen;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    span {
                        width: 50%;
                        height: 4px;
                        background: $brandWhite;
                        @include transition(.3s);

                        &:first-child {
                            width: 0;
                        }

                        &:last-child {
                            transform: rotate(0) translateY(-2px);
                        }
                    }
                }

                .blockDown {
                    max-height: 99999px;
                    transition-timing-function: cubic-bezier(0.5, 0, 1, 0);

                }
            }
        }
    }
}

.containerMin {
    .reviewDown {
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        margin-top: 10px;

        .review {
            margin-top: 15px;
        }
    }

    .proposition {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-top: 100px;
        justify-content: space-between;

        @include respond-to($phone) {
            flex-flow: column;
        }


        .block {
            width: calc(50% - 30px);
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: center;

            @include respond-to($phone) {
                flex-flow: column;
                width: 100%;
                padding-bottom: 60px;
            }

            .imgWrapper {
                width: 330px;
                height: 330px;
                margin-right: 10px;

                @include respond-to($phone) {
                    width: 100%;
                    height: auto;
                    margin-right: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .text {
                margin: 0;

                @include respond-to($phone) {
                    width: 90%;
                    margin-top: 10px;

                    p {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.history {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    align-items: center;
    justify-content: space-between;

    h2 {
        margin-bottom: 30px;
    }

    .block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 0;

        @include respond-to($tablet-portrait) {
            flex-direction: column;
        }

        &:nth-child(2n-1) {
            flex-flow: row-reverse;

            @include respond-to($tablet-portrait) {
                flex-flow: column;
            }

            .text {
                margin-right: 70px;
            }
        }

        .wrappImg {
            width: 50%;
            height: 500px;

            @include respond-to($tablet-portrait) {
                width: 100%;
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .text {
            width: 30%;
            margin-left: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include respond-to($tablet-portrait) {
                margin-left: 10px;
                width: 90%;
            }

            p {
                line-height: 18px;
                font-size: 15px;
            }
        }
    }
}

.sliderSlick {
    margin: 20px 0;
    overflow: hidden;
    padding-bottom: 120px;
    position: relative;

    .slick-list {
        margin: 0 -21px;

        .slick-slide {
            margin: 0 10px;
            max-height: 300px;
            height: 300px;

            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .slick-next {
        right: 33.5%;
        z-index: 10;
        width: 86px;
        height: 79px;
        background: rgba(255, 255, 255, .4);
        transform: none;
        top: 0;

        @include respond-to($phone) {
            right: 0;
        }

        &::before {
            content: url('../img/right.svg');
        }

        &:hover {
            background: rgba(255, 255, 255, .5);
        }
    }

    .slick-prev {
        left: 33.5%;
        z-index: 10;
        width: 86px;
        height: 79px;
        background: rgba(255, 255, 255, .4);
        transform: none;
        top: 0;

        @include respond-to($phone) {
            left: 0;
        }

        &::before {
            content: url('../img/left.svg');
        }

        &:hover {
            background: rgba(255, 255, 255, .5);
        }
    }

    .btnProduction {
        background: $brandGreen;
        color: $brandWhite;
        left: 50%;
        transform: translateX(-50%);
        width: 33%;

        @include respond-to($tablet-portrait) {
            width: 80%;
        }

        &:hover {
            background: $brandWhite;
            color: $brandGreen;
        }
    }
}


.text {
    width: 50%;
    margin: 30px auto 60px;

    @include respond-to($tablet-portrait) {
        width: 80%;
    }

    h2 {
        text-align: center;
    }

    p {
        margin-top: 30px;
    }
}

.seeMore {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 30px;
    }

    .block {
        display: flex;
        justify-content: space-between;
        padding: 0;

        @include respond-to($tablet-portrait) {
            flex-direction: column;
            align-items: center;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../img/seeMore.png);
            background-size: 140%;
            width: 49%;
            height: 230px;
            color: $brandWhite;
            @extend h2;
            background-position: center;

            @include respond-to($tablet-portrait) {
                width: 80%;
                height: 110px;
            }

            &:hover {
                background-size: 160%;
            }
        }
    }
}

.anotherProjects {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;

    a {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 49%;
        height: 230px;
        background-image: url(../img/projects.png);
        background-size: 140%;
        background-position: center;

        @include respond-to($tablet-portrait) {
            height: 130px;
        }

        &:hover {
            background-size: 160%;
        }

        h2 {
            margin-right: 100px;
            color: $brandWhite;

            @include respond-to($tablet-portrait) {
                margin-right: 10px;
                font-size: 27px;
                text-align: right;
            }
        }

        img {
            margin-right: 100px;

            @include respond-to($tablet-portrait) {
                margin-right: 10px;
            }
        }

        &:last-child {
            align-items: flex-start;

            h2 {
                margin-left: 100px;

                @include respond-to($tablet-portrait) {
                    margin-left: 10px;
                    margin-right: 0;
                    font-size: 27px;
                    text-align: left;
                }
            }

            img {
                margin-left: 100px;

                @include respond-to($tablet-portrait) {
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}

.container {
    .none {
        background-image: none;
        height: 80px;
    }

    .nameProduct {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        .nameBlock {
            width: 1096px;
            display: flex;
            justify-content: center;

            @include respond-to($tablet-portrait) {
                width: 100%
            }

            .block {
                align-items: flex-start;
                padding: 0;
                flex-flow: row;

                @include respond-to($tablet-portrait) {
                    flex-flow: column;
                    align-items: center;
                }

                .wrapperImg {
                    width: 440px;
                    height: auto;
                    flex: 0 0 440px;

                    @include respond-to($tablet-portrait) {
                        width: 90%;
                        flex: 0 0 0;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }


                .item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 30px;

                    @include respond-to($tablet-portrait) {
                        margin-left: 0;
                        margin-top: 20px;
                        width: 90%;
                    }

                    h2 {
                        margin-bottom: 30px;
                    }

                    .price {
                        @extend .h7;
                        margin: 20px 0 20px 20px;
                        color: $brandGreen;
                        width: 200px;
                    }

                    .button {
                        bottom: 0;
                        position: relative;
                    }
                }
            }
        }

        .contentBlock {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 45%;
            margin-top: 100px;

            @include respond-to($tablet-portrait) {
                width: 90%;
            }

            p {
                margin: 30px 0;
            }

            img {
                margin-bottom: 30px;
                width: 100%;
            }
        }
    }
}

.prod {
    h2 {
        margin-bottom: 30px;
        margin-top: 70px;
    }

    .block {
        padding-bottom: 70px;

        .item {
            margin-top: 0;
        }
    }
}