@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.otf"), url("../fonts/BebasNeueRegular/BebasNeueRegular.svg"), url("../fonts/BebasNeueRegular/BebasNeueRegular.eot"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebasBold/BebasNeueBold.woff"), url("../fonts/bebasBold/BebasNeueBold.otf"), url("../fonts/bebasBold/BebasNeueBold.svg"), url("../fonts/bebasBold/BebasNeueBold.eot"), url("../fonts/bebasBold/BebasNeueBold.ttf");
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-family: "Bebas Neue", arial;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  text-transform: uppercase;
}

h2, .seeMore .block a, header div.menu .active .backMenu li a, header div.menu .button ul li a {
  font-family: "Bebas Neue", arial;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

h4 {
  font-family: "Bebas Neue", arial;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

h6, .formBlock .form input::placeholder, .formBlock .form input, .btnProduction, button.button, .modal input::placeholder, .modal input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.h7, .container .nameProduct .nameBlock .block .item .price, button.button .btn, header div.menu .active a, header div.menu .button a {
  font-family: "Bebas Neue", arial;
  font-size: 24px;
  line-height: 24px;
}

.h8 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

p, .block .portfolio .slick-slide a.item button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.container {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
  }
}

.containerMin {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1230px) {
  .containerMin {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .containerMin {
    width: 100%;
  }
}

.flex {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .flex {
    flex-flow: column wrap;
  }
}

header .container .topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 55px;
  background: #fff;
}
@media screen and (max-width: 1230px) {
  header .container .topBar {
    display: none;
  }
}
header .container .topBar .time {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
header .container .topBar .time p, header .container .topBar .time .block .portfolio .slick-slide a.item button, .block .portfolio .slick-slide a.item header .container .topBar .time button {
  font-weight: bold;
  text-decoration: underline;
}
header .container .topBar .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  top: -10px;
}
header .container .topBar .info {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  height: 100%;
}
header .container .topBar .info .links {
  width: 50px;
  display: flex;
  justify-content: space-between;
}
header .container .topBar .info .links a img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .container .topBar .info .links a:hover img {
  transform: translateY(-5px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .container .topBar .info .phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .container .topBar .info .phone .h8 {
  color: #949494;
  margin-top: 3px;
}
header .container .topBar .info .lang {
  display: flex;
  width: 70px;
  justify-content: space-between;
  margin-right: 40px;
}
header .container .topBar .info .lang span {
  display: none;
}
header .container .topBar .info .lang li {
  color: #949494;
}
header .container .topBar .info .lang li:first-child {
  position: relative;
}
header .container .topBar .info .lang li:first-child::after {
  content: "/";
  position: absolute;
  left: 33px;
  top: 0;
}
header .container .topBar .info .lang li:hover {
  color: #428E43;
}
header div.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}
@media screen and (max-width: 1230px) {
  header div.menu {
    flex-direction: column-reverse;
    justify-content: space-between;
    background: #fff;
    margin-top: 0;
  }
}
header div.menu .button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #428E43;
  height: 94px;
  width: 20%;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 1230px) {
  header div.menu .button {
    width: 100%;
    justify-content: flex-start;
    height: 64px;
    margin-top: 64px;
  }
  header div.menu .button svg {
    margin-left: 20px;
  }
}
header div.menu .button a {
  color: #fff;
  margin: 0 15px 0 15px;
}
header div.menu .button .burgerButton {
  display: block;
  height: 35px;
  width: 40px;
  transform: rotate(0deg);
  position: relative;
  margin-right: 10px;
}
@media screen and (max-width: 1230px) {
  header div.menu .button .burgerButton {
    display: none;
  }
}
header div.menu .button .burgerButton span {
  display: block;
  position: absolute;
  background: #fff;
  height: 5px;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header div.menu .button .burgerButton span:nth-child(1) {
  top: 0px;
}
header div.menu .button .burgerButton span:nth-child(2) {
  top: 12px;
}
header div.menu .button .burgerButton span:nth-child(3) {
  top: 24px;
}
header div.menu .button ul {
  position: absolute;
  height: 500px;
  overflow-y: scroll;
  left: -500px;
  top: 90px;
  width: 100%;
  background: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1230px) {
  header div.menu .button ul {
    display: none;
  }
}
header div.menu .button ul li {
  height: 130px;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div.menu .button ul li:last-child {
  margin-bottom: 0;
}
header div.menu .button ul li a {
  background-image: url(../img/backMenuImg.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
  text-align: center;
}
header div.menu .active {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #428E43;
  height: 94px;
  width: 20%;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 1230px) {
  header div.menu .active {
    width: 100%;
    justify-content: flex-start;
    height: 64px;
    margin-top: 64px;
  }
  header div.menu .active svg {
    margin-left: 20px;
  }
}
header div.menu .active a {
  color: #fff;
  margin: 0 15px 0 15px;
}
header div.menu .active .burgerButton {
  display: block;
  height: 35px;
  width: 40px;
  transform: rotate(0deg);
  position: relative;
  margin-right: 10px;
}
@media screen and (max-width: 1230px) {
  header div.menu .active .burgerButton {
    display: none;
  }
}
header div.menu .active .burgerButton span {
  display: block;
  position: absolute;
  background: #fff;
  height: 5px;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header div.menu .active .burgerButton span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
header div.menu .active .burgerButton span:nth-child(2) {
  transform: rotate(45deg);
  top: 13px;
}
header div.menu .active .burgerButton span:nth-child(3) {
  top: 13px;
  transform: rotate(-45deg);
}
header div.menu .active .backMenu {
  position: absolute;
  height: 500px;
  overflow-y: scroll;
  top: 90px;
  width: 100%;
  background: #fff;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1230px) {
  header div.menu .active .backMenu {
    display: none;
  }
}
header div.menu .active .backMenu li {
  height: 130px;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div.menu .active .backMenu li:last-child {
  margin-bottom: 0;
}
header div.menu .active .backMenu li a {
  background-image: url(../img/backMenuImg.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
  text-align: center;
}
header div.menu .mainMenu {
  width: 77.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 94px;
}
@media screen and (max-width: 1230px) {
  header div.menu .mainMenu {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    position: fixed;
    background: #fff;
    z-index: 100;
    top: 0;
  }
}
header div.menu .mainMenu .mobLogo {
  display: none;
}
@media screen and (max-width: 1230px) {
  header div.menu .mainMenu .mobLogo {
    display: block;
    margin-left: 20px;
    z-index: 100;
  }
}
header div.menu .mainMenu .burgerButton {
  display: none;
}
@media screen and (max-width: 1230px) {
  header div.menu .mainMenu .burgerButton {
    display: block;
    height: 35px;
    width: 40px;
    transform: rotate(0deg);
    position: relative;
    margin-right: 20px;
    z-index: 100;
  }
  header div.menu .mainMenu .burgerButton span {
    display: block;
    position: absolute;
    background: #428E43;
    height: 5px;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  header div.menu .mainMenu .burgerButton span:nth-child(1) {
    top: 0px;
  }
  header div.menu .mainMenu .burgerButton span:nth-child(2) {
    top: 12px;
  }
  header div.menu .mainMenu .burgerButton span:nth-child(3) {
    top: 24px;
  }
}
header div.menu .mainMenu .burgerButtonActive {
  display: none;
}
@media screen and (max-width: 1230px) {
  header div.menu .mainMenu .burgerButtonActive {
    display: block;
    height: 35px;
    width: 40px;
    transform: rotate(0deg);
    position: relative;
    margin-right: 20px;
    z-index: 100;
  }
  header div.menu .mainMenu .burgerButtonActive span {
    display: block;
    position: absolute;
    background: #428E43;
    height: 5px;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  header div.menu .mainMenu .burgerButtonActive span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }
  header div.menu .mainMenu .burgerButtonActive span:nth-child(2) {
    transform: rotate(45deg);
    top: 13px;
  }
  header div.menu .mainMenu .burgerButtonActive span:nth-child(3) {
    top: 13px;
    transform: rotate(-45deg);
  }
}
header div.menu .mainMenu .mobMenu {
  width: 100%;
}
@media screen and (max-width: 1230px) {
  header div.menu .mainMenu .mobMenu {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    position: absolute;
    top: -500px;
  }
}
header div.menu .mainMenu .mobMenu ul.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 1230px) {
  header div.menu .mainMenu .mobMenu ul.menu {
    flex-flow: column wrap;
    justify-content: space-between;
    height: 180px;
    width: 350px;
    margin: 0 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  header div.menu .mainMenu .mobMenu ul.menu {
    width: 320px;
  }
}
header div.menu .mainMenu .mobMenu ul.menu li {
  margin: 10px 0;
}
header div.menu .mainMenu .mobMenu ul.menu li a:hover {
  color: #428E43;
}
header div.menu .mainMenu .mobMenu .topBarMob {
  display: none;
}
@media screen and (max-width: 1230px) {
  header div.menu .mainMenu .mobMenu .topBarMob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #000;
    width: 350px;
    margin: 20px;
    padding-top: 20px;
  }
  header div.menu .mainMenu .mobMenu .topBarMob .column {
    display: flex;
    flex-direction: column;
  }
  header div.menu .mainMenu .mobMenu .topBarMob .column .phone {
    display: flex;
    flex-direction: column;
  }
  header div.menu .mainMenu .mobMenu .topBarMob .column .phone:last-child {
    margin-top: 20px;
  }
  header div.menu .mainMenu .mobMenu .topBarMob .column .time {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header div.menu .mainMenu .mobMenu .topBarMob .column .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  header div.menu .mainMenu .mobMenu .topBarMob {
    width: 320px;
  }
}
@media screen and (max-width: 1230px) {
  header div.menu .mainMenu .down {
    top: 64px;
    transition: 0.5s;
    z-index: 90;
  }
}

footer {
  width: 100%;
  background: #686868;
  margin-top: 50px;
  padding-top: 30px;
}
footer .firstFooter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
@media screen and (max-width: 1024px) {
  footer .firstFooter {
    flex-direction: column;
    align-items: center;
  }
}
footer .firstFooter .block {
  width: 50%;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  footer .firstFooter .block {
    width: 80%;
  }
  footer .firstFooter .block:first-child {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  footer .firstFooter .block {
    width: 92%;
    margin-left: 20px;
  }
}
footer .firstFooter .block ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-height: 180px;
  width: 100%;
}
footer .firstFooter .block ul li {
  margin: 10px 0;
  word-wrap: break-word;
  width: 50%;
}
footer .firstFooter .block ul a {
  color: #fff;
}
footer .firstFooter .block ul a:hover {
  color: #000000;
}
footer .firstFooter .column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
}
footer .firstFooter .column .location {
  position: relative;
  margin: 10px 0;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  footer .firstFooter .column .location {
    display: none;
  }
}
footer .firstFooter .column .location::before {
  position: absolute;
  content: url("../img/Pin.svg");
  top: -2px;
  left: -20px;
}
footer .firstFooter .column .time p:last-child, footer .firstFooter .column .time .block .portfolio .slick-slide a.item button:last-child, .block .portfolio .slick-slide a.item footer .firstFooter .column .time button:last-child {
  margin-top: 5px;
}
@media screen and (max-width: 1024px) {
  footer .firstFooter .column .time {
    margin-top: 10px;
  }
}
footer .firstFooter .column .links {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
footer .firstFooter .column .links a img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .firstFooter .column .links a:hover img {
  transform: translateY(-5px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  footer .firstFooter .column .links {
    margin-bottom: 20px;
  }
}
footer .firstFooter .column:last-child {
  justify-content: flex-start;
  align-items: flex-end;
}
@media screen and (max-width: 1024px) {
  footer .firstFooter .column:last-child {
    align-items: flex-start;
  }
}
footer .firstFooter .column:last-child .phone {
  margin: 10px 0;
}
footer .firstFooter .column:last-child .phone p, footer .firstFooter .column:last-child .phone .block .portfolio .slick-slide a.item button, .block .portfolio .slick-slide a.item footer .firstFooter .column:last-child .phone button {
  margin: 10px 0;
}
footer .firstFooter .column:last-child .log {
  margin-top: 0;
  position: relative;
}
footer .firstFooter .column:last-child .log::before {
  position: absolute;
  content: url("../img/Phone.svg");
  top: 9px;
  left: -20px;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  footer .firstFooter .column:last-child .log::before {
    content: none;
  }
}

.secondFooter {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #F0F0F0;
}
@media screen and (max-width: 1024px) {
  .secondFooter {
    width: 90%;
    margin: 0 auto;
  }
}
.secondFooter a {
  color: #F0F0F0;
  margin: 10px 0;
}

body {
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  background: #F8F8F8;
  height: 100%;
  width: 95%;
  left: 2.5%;
  z-index: -1;
}

.modal {
  width: 40%;
  display: none;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .modal {
    width: calc(40% - 5px);
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .modal {
    width: 90%;
    align-items: center;
    margin-top: 20px;
  }
}
.modal p.h7, .modal .container .nameProduct .nameBlock .block .item p.price, .container .nameProduct .nameBlock .block .item .modal p.price, .modal .block .portfolio .slick-slide a.item button.h7, .modal .container .nameProduct .nameBlock .block .portfolio .slick-slide a.item button.price, .container .nameProduct .nameBlock .modal .block .portfolio .slick-slide a.item button.price, .block .portfolio .slick-slide a.item .modal button.h7, .container .nameProduct .nameBlock .block .portfolio .slick-slide a.item .modal button.price, .modal button.button p.btn, .modal button.button .block .portfolio .slick-slide a.item button.btn, .block .portfolio .slick-slide a.item .modal button.button button.btn, button.button .modal p.btn, button.button .modal .block .portfolio .slick-slide a.item button.btn, .block .portfolio .slick-slide a.item button.button .modal button.btn {
  font-weight: 700;
}
.modal input {
  margin-top: 20px;
  border-bottom: 4px solid #E5E5E5;
  width: 364px;
  height: 34px;
}
.modal input::placeholder {
  color: #BDBDBD;
}
.modal input:focus {
  border-bottom: 4px solid #428E43;
}
@media screen and (max-width: 1024px) {
  .modal input {
    width: 245px;
    font-size: 18px;
    border-radius: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .modal input {
    width: 100%;
  }
}
.modal input[type=submit] {
  width: 370px;
  height: 108px;
  border: 1px solid #428E43;
  color: #428E43;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal input[type=submit]:hover {
  background: #428E43;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .modal input[type=submit] {
    width: 245px;
    font-size: 18px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .modal input[type=submit] {
    width: 100%;
  }
}

button.button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 458px;
  height: 108px;
  background: #428E43;
  padding: 6px 6px 6px 30px;
  bottom: -100px;
  left: 0;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 1px #428E43;
}
button.button .btn {
  width: 136px;
  height: 97px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #428E43;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
button.button .btn::before {
  content: url("../img/roundArrow.svg");
  position: absolute;
  bottom: -60px;
  left: -130px;
}
button.button:hover {
  background: #fff;
  color: #428E43;
}
button.button:hover .btn {
  background: #428E43;
  color: #fff;
}
@media screen and (max-width: 1230px) {
  button.button {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  button.button {
    height: 60px;
    width: 300px;
    font-size: 17px;
    padding: 0 3px 0 25px;
    bottom: -70px;
  }
  button.button .btn {
    width: 70px;
    height: 54px;
    font-size: 16px;
    line-height: 16px;
  }
  button.button .btn::before {
    left: -80px;
    bottom: -40px;
    content: url("../img/roundArrowMob.svg");
  }
}

.banner .button {
  position: relative;
  bottom: 0;
}

section.banner {
  display: grid;
  grid-template-columns: 55% 25% 20%;
  grid-template-rows: repeat(12, 2.5vw);
  row-gap: 5px;
  column-gap: 5px;
  margin-top: 30px;
  width: calc(100% - 10px);
}
@media screen and (max-width: 1230px) {
  section.banner {
    grid-template-columns: 100%;
    column-gap: 0;
    row-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 0;
  }
}
section.banner .gridImg {
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center;
  transition: all 0.5s ease-in-out;
}
section.banner .gridImg:hover {
  background-size: 160%;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 1230px) {
  section.banner .gridImg {
    background-size: cover;
    width: 95%;
    height: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  section.banner .gridImg {
    height: 400px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  section.banner .gridImg {
    height: 210px;
  }
}
section.banner .gridImg a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}
section.banner .gridImg a h2, section.banner .gridImg a .seeMore .block a, .seeMore .block section.banner .gridImg a a, section.banner .gridImg a header div.menu .button ul li a, header div.menu .button ul li section.banner .gridImg a a, section.banner .gridImg a header div.menu .active .backMenu li a, header div.menu .active .backMenu li section.banner .gridImg a a {
  text-align: center;
}
section.banner .gridImg:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 13;
  background-image: url(../img/one.png);
}
section.banner .gridImg:first-child a span {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}
section.banner .gridImg:first-child a span h3 {
  text-align: right;
  font-size: 40px;
  line-height: 40px;
  font-family: "Bebas Neue", arial;
}
@media screen and (max-width: 1230px) {
  section.banner .gridImg:first-child a span h3 svg {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  section.banner .gridImg:first-child a span h3 {
    font-size: 23px;
    line-height: 23px;
  }
}
section.banner .gridImg:first-child a span h2, section.banner .gridImg:first-child a span .seeMore .block a, .seeMore .block section.banner .gridImg:first-child a span a, section.banner .gridImg:first-child a span header div.menu .button ul li a, header div.menu .button ul li section.banner .gridImg:first-child a span a, section.banner .gridImg:first-child a span header div.menu .active .backMenu li a, header div.menu .active .backMenu li section.banner .gridImg:first-child a span a {
  font-size: 120px;
  line-height: 120px;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  section.banner .gridImg:first-child a span h2, section.banner .gridImg:first-child a span .seeMore .block a, .seeMore .block section.banner .gridImg:first-child a span a, section.banner .gridImg:first-child a span header div.menu .button ul li a, header div.menu .button ul li section.banner .gridImg:first-child a span a, section.banner .gridImg:first-child a span header div.menu .active .backMenu li a, header div.menu .active .backMenu li section.banner .gridImg:first-child a span a {
    font-size: 41px;
    line-height: 41px;
  }
}
@media screen and (max-width: 1230px) {
  section.banner .gridImg:first-child {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
section.banner .gridImg:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  background-image: url(../img/two.png);
}
@media screen and (max-width: 1230px) {
  section.banner .gridImg:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
section.banner .gridImg:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 13;
  background-image: url(../img/three.png);
}
@media screen and (max-width: 1230px) {
  section.banner .gridImg:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
section.banner .gridImg:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  background-image: url(../img/four.png);
}
@media screen and (max-width: 1230px) {
  section.banner .gridImg:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
section.banner .gridImg:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 9;
  background-image: url(../img/fife.png);
}
@media screen and (max-width: 1230px) {
  section.banner .gridImg:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
section.banner .gridImg:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 13;
  background-image: url(../img/six.png);
}
@media screen and (max-width: 1230px) {
  section.banner .gridImg:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.btnProduction {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 370px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #428E43;
  color: #428E43;
}
.btnProduction:hover {
  background: #428E43;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .btnProduction {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
  }
}

.block {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 130px;
  flex-flow: row wrap;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .block {
    justify-content: center;
  }
}
.block .portfolio {
  width: 100%;
  margin: 20px 0;
}
@media screen and (min-width: 667px) and (max-width: 1920px) {
  .block .portfolio {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }
  .block .portfolio div {
    margin: 0 10px 30px;
    margin-top: -50px;
    min-height: 350px;
    max-width: 300px;
    flex: 0 0 calc(20% - 20px);
    width: calc(20% - 20px);
    box-shadow: 0px 4px 20px rgba(46, 46, 46, 0.1);
  }
  .block .portfolio div a.item {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    border-top: 5px solid #428E43;
  }
  .block .portfolio div a.item .imgWrapp {
    width: 100%;
    height: 130px;
    overflow: hidden;
    margin: 0;
    min-height: 130px;
  }
  .block .portfolio div a.item .imgWrapp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .block .portfolio div a.item .textBlock {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 85px 15px;
    margin: 0;
    width: 100%;
    min-height: 270px;
  }
  .block .portfolio div a.item .textBlock h5 {
    margin-bottom: 20px;
    text-transform: none;
    line-height: 20px;
  }
  .block .portfolio div a.item .textBlock p, .block .portfolio div .slick-slide a.item .textBlock button, .block .portfolio .slick-slide div a.item .textBlock button {
    line-height: 17px;
  }
  .block .portfolio div a.item button {
    position: absolute;
    background: #428E43;
    width: 80%;
    height: 58px;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 0 1px #428E43;
  }
  .block .portfolio div a.item button:hover {
    background: #fff;
    color: #428E43;
  }
}
.block .portfolio .slick-prev {
  z-index: 70;
  left: 10px;
}
.block .portfolio .slick-prev::before {
  position: absolute;
  content: url("../img/arrowSlickLeft.svg");
  left: 0;
}
.block .portfolio .slick-next {
  z-index: 70;
  right: 0;
}
.block .portfolio .slick-next::before {
  position: absolute;
  content: url("../img/arrowSlickRight.svg");
  right: 10px;
}
.block .portfolio .slick-list {
  height: 350px;
}
.block .portfolio .slick-slide {
  display: flex;
  justify-content: center;
}
.block .portfolio .slick-slide a.item {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: relative;
  box-shadow: 0px 4px 20px rgba(46, 46, 46, 0.1);
  border-top: 5px solid #428E43;
}
.block .portfolio .slick-slide a.item .imgWrapp {
  width: 100%;
  height: 130px;
  overflow: hidden;
}
.block .portfolio .slick-slide a.item .imgWrapp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.block .portfolio .slick-slide a.item .textBlock {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 85px 15px;
}
.block .portfolio .slick-slide a.item .textBlock h5 {
  margin-bottom: 20px;
  text-transform: none;
}
.block .portfolio .slick-slide a.item button {
  position: absolute;
  background: #428E43;
  width: 80%;
  height: 58px;
  bottom: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 0 1px #428E43;
}
.block .portfolio .slick-slide a.item button:hover {
  background: #fff;
  color: #428E43;
}

.ourPortfolio {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ourPortfolio h2, .ourPortfolio .seeMore .block a, .seeMore .block .ourPortfolio a, .ourPortfolio header div.menu .button ul li a, header div.menu .button ul li .ourPortfolio a, .ourPortfolio header div.menu .active .backMenu li a, header div.menu .active .backMenu li .ourPortfolio a {
  margin-bottom: 30px;
  text-align: center;
}
.ourPortfolio .block .portfolio {
  width: 100%;
}
.ourPortfolio .block .portfolio .slick-prev {
  z-index: 70;
  left: 10px;
}
.ourPortfolio .block .portfolio .slick-prev::before {
  position: absolute;
  content: url("../img/arrowSlickLeft.svg");
  left: 0;
}
.ourPortfolio .block .portfolio .slick-next {
  z-index: 70;
  right: 10px;
}
.ourPortfolio .block .portfolio .slick-next::before {
  position: absolute;
  content: url("../img/arrowSlickRight.svg");
  right: 0;
}
.ourPortfolio .block .portfolio .slick-slide {
  display: flex;
  justify-content: center;
}
.ourPortfolio .block .portfolio .slick-slide img {
  width: 80%;
  height: auto;
}
@media screen and (min-width: 667px) and (max-width: 1920px) {
  .ourPortfolio .block .portfolio {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .ourPortfolio .block .portfolio div {
    width: calc(25% - 15px);
    height: 16vw;
    flex: 0 0 calc(25% - 15px);
    margin: 0;
    max-width: calc(25% - 15px);
    min-height: auto;
    background: transparent;
    box-shadow: none;
  }
  .ourPortfolio .block .portfolio div img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 95%;
  }
}

.containerMin .howItWork {
  width: 100%;
}
.containerMin .howItWork h2, .containerMin .howItWork .seeMore .block a, .seeMore .block .containerMin .howItWork a, .containerMin .howItWork header div.menu .button ul li a, header div.menu .button ul li .containerMin .howItWork a, .containerMin .howItWork header div.menu .active .backMenu li a, header div.menu .active .backMenu li .containerMin .howItWork a {
  text-align: center;
  margin-top: 0;
}
.containerMin .howItWork .noPadding {
  padding-bottom: 0;
}
.containerMin .howItWork .block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
  padding-bottom: 150px;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .howItWork .block {
    justify-content: center;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .howItWork .block img.desktop {
    display: none;
  }
}
.containerMin .howItWork .block img.mob {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .howItWork .block img.mob {
    display: block;
  }
}
.containerMin .howItWork .block .button {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #428E43;
  box-shadow: 0 0 0 1px #428E43;
}
.containerMin .howItWork .block .button .btn {
  background: #428E43;
  color: #fff;
}
.containerMin .howItWork .block .button .btn::before {
  content: none;
}
.containerMin .howItWork .block .button:hover {
  background: #428E43;
  color: #fff;
}
.containerMin .howItWork .block .button:hover .btn {
  background: #fff;
  color: #428E43;
}

.formBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .formBlock {
    flex-direction: column;
    align-items: center;
  }
}
.formBlock .img {
  width: 55.5%;
  height: 667px;
  background-image: url(../img/formImg.png);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .formBlock .img {
    justify-content: flex-start;
    height: 375px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .formBlock .img {
    width: 100%;
  }
}
.formBlock .img .text {
  width: 407px;
  margin: 100px 0 0 160px;
}
@media screen and (max-width: 1024px) {
  .formBlock .img .text {
    margin: 30px 0 0 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .formBlock .img .text {
    width: 256px;
  }
  .formBlock .img .text h2, .formBlock .img .text .seeMore .block a, .seeMore .block .formBlock .img .text a, .formBlock .img .text header div.menu .button ul li a, header div.menu .button ul li .formBlock .img .text a, .formBlock .img .text header div.menu .active .backMenu li a, header div.menu .active .backMenu li .formBlock .img .text a {
    font-size: 24px;
    line-height: 30px;
  }
}
.formBlock .img .text h2, .formBlock .img .text .seeMore .block a, .seeMore .block .formBlock .img .text a, .formBlock .img .text header div.menu .button ul li a, header div.menu .button ul li .formBlock .img .text a, .formBlock .img .text header div.menu .active .backMenu li a, header div.menu .active .backMenu li .formBlock .img .text a {
  text-align: left;
}
.formBlock .img .text h2:last-child, .formBlock .img .text .seeMore .block a:last-child, .seeMore .block .formBlock .img .text a:last-child, .formBlock .img .text header div.menu .button ul li a:last-child, header div.menu .button ul li .formBlock .img .text a:last-child, .formBlock .img .text header div.menu .active .backMenu li a:last-child, header div.menu .active .backMenu li .formBlock .img .text a:last-child {
  color: #428E43;
}
.formBlock .form {
  width: calc(40% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .formBlock .form {
    width: calc(40% - 5px);
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .formBlock .form {
    width: 90%;
    align-items: center;
    margin-top: 20px;
  }
}
.formBlock .form p.h7, .formBlock .form .container .nameProduct .nameBlock .block .item p.price, .container .nameProduct .nameBlock .block .item .formBlock .form p.price, .formBlock .form .block .portfolio .slick-slide a.item button.h7, .formBlock .form .container .nameProduct .nameBlock .block .portfolio .slick-slide a.item button.price, .container .nameProduct .nameBlock .formBlock .form .block .portfolio .slick-slide a.item button.price, .block .portfolio .slick-slide a.item .formBlock .form button.h7, .container .nameProduct .nameBlock .block .portfolio .slick-slide a.item .formBlock .form button.price, .formBlock .form button.button p.btn, button.button .formBlock .form p.btn, .formBlock .form .block .portfolio .slick-slide a.item button.button button.btn, .block .portfolio .slick-slide a.item button.button .formBlock .form button.btn, .formBlock .form button.button .block .portfolio .slick-slide a.item button.btn, button.button .block .portfolio .slick-slide a.item .formBlock .form button.btn {
  font-weight: 700;
}
.formBlock .form input {
  margin-top: 20px;
  border-bottom: 4px solid #E5E5E5;
  width: 364px;
  height: 34px;
}
.formBlock .form input::placeholder {
  color: #BDBDBD;
}
.formBlock .form input:focus {
  border-bottom: 4px solid #428E43;
}
@media screen and (max-width: 1024px) {
  .formBlock .form input {
    width: 245px;
    font-size: 18px;
    border-radius: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .formBlock .form input {
    width: 100%;
  }
}
.formBlock .form input[type=submit] {
  width: 370px;
  height: 108px;
  border: 1px solid #428E43;
  color: #428E43;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.formBlock .form input[type=submit]:hover {
  background: #428E43;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .formBlock .form input[type=submit] {
    width: 245px;
    font-size: 18px;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .formBlock .form input[type=submit] {
    width: 100%;
  }
}

.second {
  margin-top: 150px;
}
.second h2, .second .seeMore .block a, .seeMore .block .second a, .second header div.menu .button ul li a, header div.menu .button ul li .second a, .second header div.menu .active .backMenu li a, header div.menu .active .backMenu li .second a {
  margin-bottom: 50px;
  text-align: center;
}
.second .block .item {
  margin-top: 0;
}

.containerMin .home {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
  position: relative;
  flex-direction: column;
}
.containerMin .home h2, .containerMin .home .seeMore .block a, .seeMore .block .containerMin .home a, .containerMin .home header div.menu .button ul li a, header div.menu .button ul li .containerMin .home a, .containerMin .home header div.menu .active .backMenu li a, header div.menu .active .backMenu li .containerMin .home a {
  margin: 0;
}
.containerMin .home .button {
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  background: #fff;
  color: #428E43;
  box-shadow: 0 0 0 1px #428E43;
}
.containerMin .home .button .btn {
  background: #428E43;
  color: #fff;
}
.containerMin .home .button .btn::before {
  content: none;
}
.containerMin .home .button:hover {
  background: #428E43;
  color: #fff;
}
.containerMin .home .button:hover .btn {
  background: #fff;
  color: #428E43;
}

.containerMin h2, .containerMin .seeMore .block a, .seeMore .block .containerMin a, .containerMin header div.menu .button ul li a, header div.menu .button ul li .containerMin a, .containerMin header div.menu .active .backMenu li a, header div.menu .active .backMenu li .containerMin a {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.containerMin .client {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerMin .client .block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding-bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .client .block {
    justify-content: space-between;
    width: 90%;
  }
}
.containerMin .client .block .item {
  width: calc(25% - 20px);
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .client .block .item {
    width: 45%;
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 20px;
  }
}
.containerMin .client .block .item img {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
.containerMin .reviewBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
.containerMin .reviewBlock .review {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  padding: 83px 120px;
  background: #fff;
}
@media screen and (max-width: 1024px) {
  .containerMin .reviewBlock .review {
    width: 90%;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .reviewBlock .review {
    padding: 20px 20px 70px 20px;
  }
}
.containerMin .reviewBlock .review .item h3 {
  text-align: center;
}
.containerMin .reviewBlock .review .item p, .containerMin .reviewBlock .review .block .portfolio .slick-slide a.item button, .block .portfolio .slick-slide .containerMin .reviewBlock .review a.item button {
  text-align: center;
  color: #428E43;
  margin: 15px 0 30px 0;
}
.containerMin .reviewBlock .review .item p.h8, .containerMin .reviewBlock .review .block .portfolio .slick-slide a.item button.h8, .block .portfolio .slick-slide .containerMin .reviewBlock .review a.item button.h8 {
  text-align: center;
  color: #000000;
}
.containerMin .reviewBlock .transform {
  width: 82px;
  height: 100%;
  background: #428E43;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: 0;
  box-shadow: 0 0 0 1px #428E43;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .reviewBlock .transform {
    display: none;
  }
}
.containerMin .reviewBlock .transform:hover {
  background: #fff;
}
.containerMin .reviewBlock .transform:hover svg path {
  fill: #428E43;
}
.containerMin .reviewBlock .transform:hover h2, .containerMin .reviewBlock .transform:hover .seeMore .block a, .seeMore .block .containerMin .reviewBlock .transform:hover a, .containerMin .reviewBlock .transform:hover header div.menu .button ul li a, header div.menu .button ul li .containerMin .reviewBlock .transform:hover a, .containerMin .reviewBlock .transform:hover header div.menu .active .backMenu li a, header div.menu .active .backMenu li .containerMin .reviewBlock .transform:hover a {
  color: #428E43;
}
.containerMin .reviewBlock .transform svg {
  margin-top: 10px;
}
.containerMin .reviewBlock .transform span {
  position: relative;
  width: 120%;
  height: 70%;
}
.containerMin .reviewBlock .transform span h2, .containerMin .reviewBlock .transform span .seeMore .block a, .seeMore .block .containerMin .reviewBlock .transform span a, .containerMin .reviewBlock .transform span header div.menu .button ul li a, header div.menu .button ul li .containerMin .reviewBlock .transform span a, .containerMin .reviewBlock .transform span header div.menu .active .backMenu li a, header div.menu .active .backMenu li .containerMin .reviewBlock .transform span a {
  position: absolute;
  transform: rotate(-90deg);
  margin: 0;
  color: #fff;
  top: 75px;
  left: -65px;
  width: 235px;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
}
.containerMin .reviewBlock .transformMob {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .reviewBlock .transformMob {
    width: 100%;
    padding: 5px 0;
    background: #428E43;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    box-shadow: 0 0 0 1px #428E43;
  }
  .containerMin .reviewBlock .transformMob h2, .containerMin .reviewBlock .transformMob .seeMore .block a, .seeMore .block .containerMin .reviewBlock .transformMob a, .containerMin .reviewBlock .transformMob header div.menu .button ul li a, header div.menu .button ul li .containerMin .reviewBlock .transformMob a, .containerMin .reviewBlock .transformMob header div.menu .active .backMenu li a, header div.menu .active .backMenu li .containerMin .reviewBlock .transformMob a {
    color: #fff;
    margin: 0 0 0 20px;
  }
  .containerMin .reviewBlock .transformMob:hover {
    background: #fff;
  }
  .containerMin .reviewBlock .transformMob:hover svg path {
    fill: #428E43;
  }
  .containerMin .reviewBlock .transformMob:hover h2, .containerMin .reviewBlock .transformMob:hover .seeMore .block a, .seeMore .block .containerMin .reviewBlock .transformMob:hover a, .containerMin .reviewBlock .transformMob:hover header div.menu .button ul li a, header div.menu .button ul li .containerMin .reviewBlock .transformMob:hover a, .containerMin .reviewBlock .transformMob:hover header div.menu .active .backMenu li a, header div.menu .active .backMenu li .containerMin .reviewBlock .transformMob:hover a {
    color: #428E43;
  }
  .containerMin .reviewBlock .transformMob svg {
    margin-right: 20px;
  }
}
.containerMin .reviewBlock .btnProduction {
  background: #428E43;
  left: 50%;
  transform: translate(-50%);
  height: 75px;
  color: #fff;
  font-family: "Bebas Neue", arial;
  font-size: 35px;
  line-height: 35px;
}
.containerMin .reviewBlock .btnProduction:hover {
  background: #fff;
  color: #428E43;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .reviewBlock .btnProduction {
    display: none;
  }
}

.container .main {
  background-image: url("../img/services.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 445px;
  margin-top: 15px;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .container .main {
    height: 395px;
    padding: 0 10px;
  }
}
.container .main span {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  color: #fff;
  margin-top: 15px;
  max-width: 770px;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .container .main span h2, .container .main span .seeMore .block a, .seeMore .block .container .main span a, .container .main span header div.menu .button ul li a, header div.menu .button ul li .container .main span a, .container .main span header div.menu .active .backMenu li a, header div.menu .active .backMenu li .container .main span a {
    font-size: 40px;
  }
  .container .main span h2 svg, .container .main span .seeMore .block a svg, .seeMore .block .container .main span a svg, .container .main span header div.menu .button ul li a svg, header div.menu .button ul li .container .main span a svg, .container .main span header div.menu .active .backMenu li a svg, header div.menu .active .backMenu li .container .main span a svg {
    display: none;
  }
}
.container .main span h1 {
  font-size: 70px;
  line-height: 80px;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .container .main span h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
.container .main .breadcrumbs {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  height: 64px;
}
.container .main .breadcrumbs li {
  position: relative;
  display: flex;
  align-items: center;
}
.container .main .breadcrumbs li::after {
  content: url("../img/Vector.svg");
  display: inline-block;
  margin: 0 10px;
}
.container .main .breadcrumbs li:first-child::before {
  position: relative;
  content: url("../img/LogoVector.svg");
  left: -10px;
}
.container .main .breadcrumbs li:last-child::after {
  content: none;
}
.container .services {
  width: 100%;
}
.container .services .block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .container .services .block {
    justify-content: center;
  }
}
.container .services .block .items {
  margin: 15px 0;
  width: calc(50% - 15px);
  height: 230px;
  background-image: url("../img/servicesImg.png");
  background-repeat: no-repeat;
  background-size: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .container .services .block .items {
    height: 110px;
    width: 90%;
  }
  .container .services .block .items h2, .container .services .seeMore .block .items a, .seeMore .container .services .block .items a, .container .services .block .items header div.menu .button ul li a, header div.menu .button ul li .container .services .block .items a, .container .services .block .items header div.menu .active .backMenu li a, header div.menu .active .backMenu li .container .services .block .items a {
    font-size: 30px;
  }
}
.container .services .block .items h2, .container .services .seeMore .block .items a, .seeMore .container .services .block .items a, .container .services .block .items header div.menu .button ul li a, header div.menu .button ul li .container .services .block .items a, .container .services .block .items header div.menu .active .backMenu li a, header div.menu .active .backMenu li .container .services .block .items a {
  color: #fff;
}
.container .services .block .items:hover {
  background-size: 170%;
}
.container .third {
  margin-top: 70px;
}
.container .third .block {
  padding-bottom: 70px;
}
.container .third .block div {
  margin-top: 0;
}

.infoBlock {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .infoBlock {
    flex-direction: column;
  }
}
.infoBlock * {
  margin: 5px 15px;
}
.infoBlock .links {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.infoBlock .links a {
  margin: 0;
}
.infoBlock .links a img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.infoBlock .links a:hover img {
  transform: translateY(-5px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.infoBlock h6, .infoBlock .modal input, .modal .infoBlock input, .infoBlock .modal input::placeholder, .modal .infoBlock input::placeholder, .infoBlock button.button, .infoBlock .btnProduction, .infoBlock .formBlock .form input, .formBlock .form .infoBlock input, .infoBlock .formBlock .form input::placeholder, .formBlock .form .infoBlock input::placeholder {
  color: #428E43;
}
.infoBlock .h8 {
  color: #949494;
  margin-top: 8px;
  display: block;
}
.infoBlock .mail a.h8 {
  margin-top: 8px;
  display: block;
}

.containerMiddle {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.containerMiddle .formBlock {
  margin-top: 30px;
  justify-content: center;
}
.containerMiddle .formBlock .form {
  width: 30%;
  margin-left: 30px;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMiddle .formBlock .form {
    width: 90%;
    margin-left: 0;
  }
}

.accordeon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.accordeon .acc {
  width: 965px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .accordeon .acc {
    width: 90%;
  }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .accordeon .acc {
    width: auto;
    margin: 0 15px;
  }
}
.accordeon .acc ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.accordeon .acc ul li.accActive {
  margin-bottom: 10px;
  background: #fff;
  border: 4px solid rgba(66, 142, 67, 0.4);
}
.accordeon .acc ul li.accActive h6.titleAcc, .accordeon .acc ul li.accActive .modal input.titleAcc, .modal .accordeon .acc ul li.accActive input.titleAcc, .accordeon .acc ul li.accActive .modal input.titleAcc::placeholder, .modal .accordeon .acc ul li.accActive input.titleAcc::placeholder, .accordeon .acc ul li.accActive button.titleAcc.button, .accordeon .acc ul li.accActive .titleAcc.btnProduction, .accordeon .acc ul li.accActive .formBlock .form input.titleAcc, .formBlock .form .accordeon .acc ul li.accActive input.titleAcc, .accordeon .acc ul li.accActive .formBlock .form input.titleAcc::placeholder, .formBlock .form .accordeon .acc ul li.accActive input.titleAcc::placeholder {
  display: flex;
  align-items: center;
  color: #000000;
  padding: 30px 100px 30px 50px;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .accordeon .acc ul li.accActive h6.titleAcc, .accordeon .acc ul li.accActive .modal input.titleAcc, .modal .accordeon .acc ul li.accActive input.titleAcc, .accordeon .acc ul li.accActive .modal input.titleAcc::placeholder, .modal .accordeon .acc ul li.accActive input.titleAcc::placeholder, .accordeon .acc ul li.accActive button.titleAcc.button, .accordeon .acc ul li.accActive .titleAcc.btnProduction, .accordeon .acc ul li.accActive .formBlock .form input.titleAcc, .formBlock .form .accordeon .acc ul li.accActive input.titleAcc, .accordeon .acc ul li.accActive .formBlock .form input.titleAcc::placeholder, .formBlock .form .accordeon .acc ul li.accActive input.titleAcc::placeholder {
    font-size: 11px;
  }
}
.accordeon .acc ul li.accActive .btnAcc {
  position: absolute;
  right: 10px;
  background: #428E43;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.accordeon .acc ul li.accActive .btnAcc span {
  width: 50%;
  height: 4px;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translateY(2px);
}
.accordeon .acc ul li.accActive .btnAcc span:last-child {
  transform: rotate(90deg) translateX(-2px);
}
.accordeon .acc ul li.accActive .blockDown {
  background: #fff;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;
}
.accordeon .acc ul li.accActive p, .accordeon .acc ul li.accActive .block .portfolio .slick-slide a.item button, .block .portfolio .slick-slide a.item .accordeon .acc ul li.accActive button {
  padding: 10px 100px 40px 50px;
}
.accordeon .acc ul li.accNoActive {
  margin-bottom: 10px;
  background: #fff;
  border: 4px solid rgba(66, 142, 67, 0.4);
}
.accordeon .acc ul li.accNoActive h6.titleAcc, .accordeon .acc ul li.accNoActive .modal input.titleAcc, .modal .accordeon .acc ul li.accNoActive input.titleAcc, .accordeon .acc ul li.accNoActive .modal input.titleAcc::placeholder, .modal .accordeon .acc ul li.accNoActive input.titleAcc::placeholder, .accordeon .acc ul li.accNoActive button.titleAcc.button, .accordeon .acc ul li.accNoActive .titleAcc.btnProduction, .accordeon .acc ul li.accNoActive .formBlock .form input.titleAcc, .formBlock .form .accordeon .acc ul li.accNoActive input.titleAcc, .accordeon .acc ul li.accNoActive .formBlock .form input.titleAcc::placeholder, .formBlock .form .accordeon .acc ul li.accNoActive input.titleAcc::placeholder {
  display: flex;
  align-items: center;
  color: #000000;
  padding: 30px 100px 30px 50px;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .accordeon .acc ul li.accNoActive h6.titleAcc, .accordeon .acc ul li.accNoActive .modal input.titleAcc, .modal .accordeon .acc ul li.accNoActive input.titleAcc, .accordeon .acc ul li.accNoActive .modal input.titleAcc::placeholder, .modal .accordeon .acc ul li.accNoActive input.titleAcc::placeholder, .accordeon .acc ul li.accNoActive button.titleAcc.button, .accordeon .acc ul li.accNoActive .titleAcc.btnProduction, .accordeon .acc ul li.accNoActive .formBlock .form input.titleAcc, .formBlock .form .accordeon .acc ul li.accNoActive input.titleAcc, .accordeon .acc ul li.accNoActive .formBlock .form input.titleAcc::placeholder, .formBlock .form .accordeon .acc ul li.accNoActive input.titleAcc::placeholder {
    font-size: 11px;
  }
}
.accordeon .acc ul li.accNoActive .btnAcc {
  position: absolute;
  right: 10px;
  background: #428E43;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.accordeon .acc ul li.accNoActive .btnAcc span {
  width: 50%;
  height: 4px;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordeon .acc ul li.accNoActive .btnAcc span:first-child {
  width: 0;
}
.accordeon .acc ul li.accNoActive .btnAcc span:last-child {
  transform: rotate(0) translateY(-2px);
}
.accordeon .acc ul li.accNoActive .blockDown {
  max-height: 99999px;
  transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
}

.containerMin .reviewDown {
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  margin-top: 10px;
}
.containerMin .reviewDown .review {
  margin-top: 15px;
}
.containerMin .proposition {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .proposition {
    flex-flow: column;
  }
}
.containerMin .proposition .block {
  width: calc(50% - 30px);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .proposition .block {
    flex-flow: column;
    width: 100%;
    padding-bottom: 60px;
  }
}
.containerMin .proposition .block .imgWrapper {
  width: 330px;
  height: 330px;
  margin-right: 10px;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .proposition .block .imgWrapper {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}
.containerMin .proposition .block .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.containerMin .proposition .block .text {
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .containerMin .proposition .block .text {
    width: 90%;
    margin-top: 10px;
  }
  .containerMin .proposition .block .text p, .containerMin .proposition .block .text .portfolio .slick-slide a.item button, .containerMin .proposition .block .portfolio .slick-slide a.item .text button {
    margin-top: 10px;
  }
}

.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  align-items: center;
  justify-content: space-between;
}
.history h2, .history .seeMore .block a, .seeMore .block .history a, .history header div.menu .button ul li a, header div.menu .button ul li .history a, .history header div.menu .active .backMenu li a, header div.menu .active .backMenu li .history a {
  margin-bottom: 30px;
}
.history .block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .history .block {
    flex-direction: column;
  }
}
.history .block:nth-child(2n-1) {
  flex-flow: row-reverse;
}
@media screen and (max-width: 1024px) {
  .history .block:nth-child(2n-1) {
    flex-flow: column;
  }
}
.history .block:nth-child(2n-1) .text {
  margin-right: 70px;
}
.history .block .wrappImg {
  width: 50%;
  height: 500px;
}
@media screen and (max-width: 1024px) {
  .history .block .wrappImg {
    width: 100%;
    height: auto;
  }
}
.history .block .wrappImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.history .block .text {
  width: 30%;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .history .block .text {
    margin-left: 10px;
    width: 90%;
  }
}
.history .block .text p, .history .block .text .portfolio .slick-slide a.item button, .history .block .portfolio .slick-slide a.item .text button {
  line-height: 18px;
  font-size: 15px;
}

.sliderSlick {
  margin: 20px 0;
  overflow: hidden;
  padding-bottom: 120px;
  position: relative;
}
.sliderSlick .slick-list {
  margin: 0 -21px;
}
.sliderSlick .slick-list .slick-slide {
  margin: 0 10px;
  max-height: 300px;
  height: 300px;
}
.sliderSlick .slick-list .slick-slide img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.sliderSlick .slick-next {
  right: 33.5%;
  z-index: 10;
  width: 86px;
  height: 79px;
  background: rgba(255, 255, 255, 0.4);
  transform: none;
  top: 0;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .sliderSlick .slick-next {
    right: 0;
  }
}
.sliderSlick .slick-next::before {
  content: url("../img/right.svg");
}
.sliderSlick .slick-next:hover {
  background: rgba(255, 255, 255, 0.5);
}
.sliderSlick .slick-prev {
  left: 33.5%;
  z-index: 10;
  width: 86px;
  height: 79px;
  background: rgba(255, 255, 255, 0.4);
  transform: none;
  top: 0;
}
@media screen and (min-width: 320px) and (max-width: 667px) {
  .sliderSlick .slick-prev {
    left: 0;
  }
}
.sliderSlick .slick-prev::before {
  content: url("../img/left.svg");
}
.sliderSlick .slick-prev:hover {
  background: rgba(255, 255, 255, 0.5);
}
.sliderSlick .btnProduction {
  background: #428E43;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  width: 33%;
}
@media screen and (max-width: 1024px) {
  .sliderSlick .btnProduction {
    width: 80%;
  }
}
.sliderSlick .btnProduction:hover {
  background: #fff;
  color: #428E43;
}

.text {
  width: 50%;
  margin: 30px auto 60px;
}
@media screen and (max-width: 1024px) {
  .text {
    width: 80%;
  }
}
.text h2, .text .seeMore .block a, .seeMore .block .text a, .text header div.menu .button ul li a, header div.menu .button ul li .text a, .text header div.menu .active .backMenu li a, header div.menu .active .backMenu li .text a {
  text-align: center;
}
.text p, .text .block .portfolio .slick-slide a.item button, .block .portfolio .slick-slide a.item .text button {
  margin-top: 30px;
}

.seeMore {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seeMore h2, .seeMore .block a, .seeMore header div.menu .button ul li a, header div.menu .button ul li .seeMore a, .seeMore header div.menu .active .backMenu li a, header div.menu .active .backMenu li .seeMore a {
  margin-bottom: 30px;
}
.seeMore .block {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .seeMore .block {
    flex-direction: column;
    align-items: center;
  }
}
.seeMore .block a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/seeMore.png);
  background-size: 140%;
  width: 49%;
  height: 230px;
  color: #fff;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .seeMore .block a {
    width: 80%;
    height: 110px;
  }
}
.seeMore .block a:hover {
  background-size: 160%;
}

.anotherProjects {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.anotherProjects a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 49%;
  height: 230px;
  background-image: url(../img/projects.png);
  background-size: 140%;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .anotherProjects a {
    height: 130px;
  }
}
.anotherProjects a:hover {
  background-size: 160%;
}
.anotherProjects a h2, .anotherProjects a header div.menu .button ul li a, header div.menu .button ul li .anotherProjects a a, .anotherProjects a header div.menu .active .backMenu li a, header div.menu .active .backMenu li .anotherProjects a a, .anotherProjects a .seeMore .block a, .seeMore .block .anotherProjects a a {
  margin-right: 100px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .anotherProjects a h2, .anotherProjects a header div.menu .button ul li a, header div.menu .button ul li .anotherProjects a a, .anotherProjects a header div.menu .active .backMenu li a, header div.menu .active .backMenu li .anotherProjects a a, .anotherProjects a .seeMore .block a, .seeMore .block .anotherProjects a a {
    margin-right: 10px;
    font-size: 27px;
    text-align: right;
  }
}
.anotherProjects a img {
  margin-right: 100px;
}
@media screen and (max-width: 1024px) {
  .anotherProjects a img {
    margin-right: 10px;
  }
}
.anotherProjects a:last-child {
  align-items: flex-start;
}
.anotherProjects a:last-child h2, .anotherProjects a:last-child header div.menu .button ul li a, header div.menu .button ul li .anotherProjects a:last-child a, .anotherProjects a:last-child header div.menu .active .backMenu li a, header div.menu .active .backMenu li .anotherProjects a:last-child a, .anotherProjects a:last-child .seeMore .block a, .seeMore .block .anotherProjects a:last-child a {
  margin-left: 100px;
}
@media screen and (max-width: 1024px) {
  .anotherProjects a:last-child h2, .anotherProjects a:last-child header div.menu .button ul li a, header div.menu .button ul li .anotherProjects a:last-child a, .anotherProjects a:last-child header div.menu .active .backMenu li a, header div.menu .active .backMenu li .anotherProjects a:last-child a, .anotherProjects a:last-child .seeMore .block a, .seeMore .block .anotherProjects a:last-child a {
    margin-left: 10px;
    margin-right: 0;
    font-size: 27px;
    text-align: left;
  }
}
.anotherProjects a:last-child img {
  margin-left: 100px;
}
@media screen and (max-width: 1024px) {
  .anotherProjects a:last-child img {
    margin-left: 10px;
    margin-right: 0;
  }
}

.container .none {
  background-image: none;
  height: 80px;
}
.container .nameProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.container .nameProduct .nameBlock {
  width: 1096px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .container .nameProduct .nameBlock {
    width: 100%;
  }
}
.container .nameProduct .nameBlock .block {
  align-items: flex-start;
  padding: 0;
  flex-flow: row;
}
@media screen and (max-width: 1024px) {
  .container .nameProduct .nameBlock .block {
    flex-flow: column;
    align-items: center;
  }
}
.container .nameProduct .nameBlock .block .wrapperImg {
  width: 440px;
  height: auto;
  flex: 0 0 440px;
}
@media screen and (max-width: 1024px) {
  .container .nameProduct .nameBlock .block .wrapperImg {
    width: 90%;
    flex: 0 0 0;
  }
}
.container .nameProduct .nameBlock .block .wrapperImg img {
  width: 100%;
  height: auto;
}
.container .nameProduct .nameBlock .block .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}
@media screen and (max-width: 1024px) {
  .container .nameProduct .nameBlock .block .item {
    margin-left: 0;
    margin-top: 20px;
    width: 90%;
  }
}
.container .nameProduct .nameBlock .block .item h2, .container .nameProduct .nameBlock .block .item header div.menu .button ul li a, header div.menu .button ul li .container .nameProduct .nameBlock .block .item a, .container .nameProduct .nameBlock .block .item header div.menu .active .backMenu li a, header div.menu .active .backMenu li .container .nameProduct .nameBlock .block .item a, .container .nameProduct .nameBlock .seeMore .block .item a, .seeMore .container .nameProduct .nameBlock .block .item a {
  margin-bottom: 30px;
}
.container .nameProduct .nameBlock .block .item .price {
  margin: 20px 0 20px 20px;
  color: #428E43;
  width: 200px;
}
.container .nameProduct .nameBlock .block .item .button {
  bottom: 0;
  position: relative;
}
.container .nameProduct .contentBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  margin-top: 100px;
}
@media screen and (max-width: 1024px) {
  .container .nameProduct .contentBlock {
    width: 90%;
  }
}
.container .nameProduct .contentBlock p, .container .nameProduct .contentBlock .block .portfolio .slick-slide a.item button, .block .portfolio .slick-slide a.item .container .nameProduct .contentBlock button {
  margin: 30px 0;
}
.container .nameProduct .contentBlock img {
  margin-bottom: 30px;
  width: 100%;
}

.prod h2, .prod header div.menu .button ul li a, header div.menu .button ul li .prod a, .prod header div.menu .active .backMenu li a, header div.menu .active .backMenu li .prod a, .prod .seeMore .block a, .seeMore .block .prod a {
  margin-bottom: 30px;
  margin-top: 70px;
}
.prod .block {
  padding-bottom: 70px;
}
.prod .block .item {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
