footer {
    width: 100%;
    background: $brandFooter;
    margin-top: 50px;
    padding-top: 30px;

    .firstFooter {
        display: flex;
        justify-content: space-between;
        padding-bottom: 120px;

        @include respond-to($tablet-portrait) {
            flex-direction: column;
            align-items: center;
        }



        .block {
            width: 50%;
            padding: 0;

            @include respond-to($tablet-portrait) {
                width: 80%;

                &:first-child {
                    margin-bottom: 40px;
                }
            }

            @include respond-to($phone) {
                width: 92%;
                margin-left: 20px;
            }

            ul {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                max-height: 180px;
                width: 100%;

                li {
                    margin: 10px 0;
                    word-wrap: break-word;
                    width: 50%;
                }

                a {
                    color: $brandWhite;

                    &:hover {
                        color: $brandText;
                    }
                }
            }
        }



        .column {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            color: $brandWhite;

            .location {
                position: relative;
                margin: 10px 0;

                @include respond-to($phone) {
                    display: none;
                }

                &::before {
                    position: absolute;
                    content: url('../img/Pin.svg');
                    top: -2px;
                    left: -20px;
                }
            }


            .time {
                p {
                    &:last-child {
                        margin-top: 5px;
                    }
                }

                @include respond-to($tablet-portrait) {
                    margin-top: 10px;
                }
            }

            .links {
                width: 100px;
                display: flex;
                justify-content: space-between;

                a {
                    img {
                        @include transition(.3s);
                    }

                    &:hover {
                        img {
                            transform: translateY(-5px);
                            @include transition(.3s);
                        }
                    }
                }

                @include respond-to($tablet-portrait) {
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                justify-content: flex-start;
                align-items: flex-end;

                @include respond-to($tablet-portrait) {
                    align-items: flex-start;
                }

                .phone {
                    margin: 10px 0;

                    p {
                        margin: 10px 0;
                    }
                }

                .log {
                    margin-top: 0;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: url('../img/Phone.svg');
                        top: 9px;
                        left: -20px;

                        @include respond-to($phone) {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}

.secondFooter {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #F0F0F0;

    @include respond-to($tablet-portrait) {
        width: 90%;
        margin: 0 auto;
    }

    a {
        color: #F0F0F0;
        margin: 10px 0;
    }
}