

h1 {
    font-family: $bebas;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;
    
}

h2 {
    font-family: $bebas;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    
}

h3 {
    font-family: $robot;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

h4 {
    font-family: $bebas;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

h5 {
    font-family: $robot;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

h6 {
    font-family: $robot;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.h7 {
    font-family: $bebas;
    font-size: 24px;
    line-height: 24px;
}

.h8 {
    font-family: $robot;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

a{
    font-family: $robot;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    @include transition(.3s);

}

button{
    @include transition(.3s);
}

p {
    font-family: $robot;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.p2 {
    font-family: $robot;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}


.container {
    width: 95%;
    margin: 0 auto;
    position: relative;


    @include respond-to($tablet-portrait) {
        width: 100%;
        margin: auto;
    }


    @include respond-to($phone) {
        width: 100%;
        max-width: 1170px;
        margin: auto;
    }
}
.containerMin{
    width: 1170px;
    margin: 0 auto;
    position: relative;
    @include respond-to($forCart){
        width: 100%;
    }
    @include respond-to($tablet-portrait){
        width: 100%;
    }
}


.flex {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;

    @include respond-to($phone) {
        flex-flow: column wrap;
    }
}