header {
    .container {
        .topBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            height: 55px;
            background: $brandWhite;

            @include respond-to($forCart) {
                display: none;
            }

            .time {
                width: 50%;
                display: flex;
                justify-content: center;
                height: 100%;
                align-items: center;

                p {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }

            .logo {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background: $brandWhite;
                top: -10px;
            }

            // .logo {
            //     display: flex;
            //     flex-direction: column;
            //     align-items: center;
            //     width: 30%;
            //     background: $brandWhite;
            // }

            .info {
                display: flex;
                justify-content: space-between;
                width: 40%;
                align-items: center;
                height: 100%;

                .links {
                    width: 50px;
                    display: flex;
                    justify-content: space-between;

                    a {
                        img {
                            @include transition(.3s);
                        }

                        &:hover {
                            img {
                                transform: translateY(-5px);
                                @include transition(.3s);
                            }
                        }
                    }
                }


                .phone {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .h8 {
                        color: $brandPhone;
                        margin-top: 3px;
                    }
                }

                .lang {
                    display: flex;
                    width: 70px;
                    justify-content: space-between;
                    margin-right: 40px;

                    span {
                        display: none;
                    }

                    li {
                        color: $brandPhone;

                        &:first-child {
                            position: relative;

                            &::after {
                                content: '/';
                                position: absolute;
                                left: 33px;
                                top: 0;
                            }
                        }

                        &:hover {
                            color: $brandGreen;
                        }
                    }
                }
            }
        }
    }

    div.menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;

        @include respond-to($forCart) {
            flex-direction: column-reverse;
            justify-content: space-between;
            background: $brandWhite;
            margin-top: 0;
        }

        .button {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background: $brandGreen;
            height: 94px;
            width: 20%;
            position: relative;
            cursor: pointer;

            @include respond-to($forCart) {
                width: 100%;
                justify-content: flex-start;
                height: 64px;
                margin-top: 64px;

                svg {
                    margin-left: 20px;
                }
            }


            a {
                color: $brandWhite;
                margin: 0 15px 0 15px;
                @extend .h7;
            }

            .burgerButton {
                display: block;
                height: 35px;
                width: 40px;
                transform: rotate(0deg);
                position: relative;
                margin-right: 10px;

                @include respond-to($forCart) {
                    display: none;
                }

                span {
                    display: block;
                    position: absolute;
                    background: $brandWhite;
                    height: 5px;
                    width: 100%;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;

                    &:nth-child(1) {
                        top: 0px;
                    }

                    &:nth-child(2) {
                        top: 12px;
                    }

                    &:nth-child(3) {
                        top: 24px;
                    }
                }
            }


            ul {
                position: absolute;
                height: 500px;
                overflow-y: scroll;
                left: -500px;
                top: 90px;
                width: 100%;
                background: $brandWhite;
                z-index: 10;
                @include transition(.3s);

                @include respond-to($forCart) {
                    display: none;
                }

                li {
                    height: 130px;
                    width: 100%;
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        background-image: url(../img/backMenuImg.png);
                        background-repeat: no-repeat;
                        height: 100%;
                        width: 100%;
                        color: $brandWhite;
                        @extend h2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        padding: 5px;
                        text-align: center;
                    }
                }
            }
        }

        .active {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background: $brandGreen;
            height: 94px;
            width: 20%;
            position: relative;
            cursor: pointer;
            @include respond-to($forCart) {
                width: 100%;
                justify-content: flex-start;
                height: 64px;
                margin-top: 64px;

                svg {
                    margin-left: 20px;
                }
            }


            a {
                color: $brandWhite;
                margin: 0 15px 0 15px;
                @extend .h7;
            }

            .burgerButton {
                display: block;
                height: 35px;
                width: 40px;
                transform: rotate(0deg);
                position: relative;
                margin-right: 10px;

                @include respond-to($forCart) {
                    display: none;
                }

                span {
                    display: block;
                    position: absolute;
                    background: $brandWhite;
                    height: 5px;
                    width: 100%;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;

                    &:nth-child(1) {
                        top: 18px;
                        width: 0;
                        left: 50%;
                    }

                    &:nth-child(2) {
                        transform: rotate(45deg);
                        top: 13px;
                    }

                    &:nth-child(3) {
                        top: 13px;
                        transform: rotate(-45deg);
                    }
                }
            }


            .backMenu {
                position: absolute;
                height: 500px;
                overflow-y: scroll;
                top: 90px;
                width: 100%;
                background: $brandWhite;
                left: 0;
                z-index: 10;
                @include transition(.3s);

                @include respond-to($forCart) {
                    display: none;
                }

                li {
                    height: 130px;
                    width: 100%;
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        background-image: url(../img/backMenuImg.png);
                        background-repeat: no-repeat;
                        height: 100%;
                        width: 100%;
                        color: $brandWhite;
                        @extend h2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        padding: 5px;
                        text-align: center;
                    }
                }
            }
        }

        .mainMenu {
            width: 77.5%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            height: 94px;

            @include respond-to($forCart) {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                height: 64px;
                position: fixed;
                background: $brandWhite;
                z-index: 100;
                top: 0;
            }

            .mobLogo {
                display: none;

                @include respond-to($forCart) {
                    display: block;
                    margin-left: 20px;
                    z-index: 100;
                }
            }

            .burgerButton {
                display: none;

                @include respond-to($forCart) {
                    display: block;
                    height: 35px;
                    width: 40px;
                    transform: rotate(0deg);
                    position: relative;
                    margin-right: 20px;
                    z-index: 100;

                    span {
                        display: block;
                        position: absolute;
                        background: $brandGreen;
                        height: 5px;
                        width: 100%;
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;

                        &:nth-child(1) {
                            top: 0px;
                        }

                        &:nth-child(2) {
                            top: 12px;
                        }

                        &:nth-child(3) {
                            top: 24px;
                        }
                    }
                }
            }

            .burgerButtonActive {
                display: none;

                @include respond-to($forCart) {
                    display: block;
                    height: 35px;
                    width: 40px;
                    transform: rotate(0deg);
                    position: relative;
                    margin-right: 20px;
                    z-index: 100;

                    span {
                        display: block;
                        position: absolute;
                        background: $brandGreen;
                        height: 5px;
                        width: 100%;
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;

                        &:nth-child(1) {
                            top: 18px;
                            width: 0;
                            left: 50%;
                        }

                        &:nth-child(2) {
                            transform: rotate(45deg);
                            top: 13px;
                        }

                        &:nth-child(3) {
                            top: 13px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

            .mobMenu{
                width: 100%;

                @include respond-to($forCart){
                    background: $brandWhite;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: .5s;
                    position: absolute;
                    top: -500px;
                }

                ul.menu {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
    
                    @include respond-to($forCart) {
                        flex-flow: column wrap;
                        justify-content: space-between;
                        height: 180px;
                        width: 350px;
                        margin: 0 20px;
                        
                    }
                    @include respond-to($phone){
                        width: 320px;
                    }
    
                    li {
                        margin: 10px 0;
    
                        a {
                            &:hover {
                                color: $brandGreen;
                            }
                        }
                    }
                }
                .topBarMob{
                    display: none;
                    @include respond-to($forCart){
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-top: 1px solid #000;
                        width: 350px;
                        margin: 20px;
                        padding-top: 20px;

                        .column{
                            display: flex;
                            flex-direction: column;
                            
                            .phone{
                                display: flex;
                                flex-direction: column;
                                &:last-child{
                                    margin-top: 20px;
                                }
                            }
                            .time{
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 30px;
                            }
                            .links{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                width: 100px;
                            }
                        }
                    }
                    @include respond-to($phone){
                        width: 320px;
                    }
                }
            }
            .down {
                @include respond-to($forCart) {
                    top: 64px;
                    transition: .5s;
                    z-index: 90;
                }
            }
        }
    }
}