@mixin transition($duration) {
    -webkit-transition: all $duration ease-in-out;
    -moz-transition: all $duration ease-in-out;
    -o-transition: all $duration ease-in-out;
    -ms-transition: all $duration ease-in-out;
    transition: all $duration ease-in-out;
}

@mixin flex($direction, $alignVert, $alignHor) {
    display: flex;
    flex-flow: $direction;
}

$unslick: '(min-width: 667px) and (max-width: 1920px)';
$forCart: '(max-width: 1230px)';
$phone: '(min-width: 320px) and (max-width: 667px)';
$phone-land: '(min-width: 320px) and (max-width: 667px) and (orientation: landscape)';
$tablet-portrait: '(max-width: 1024px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)';
$interval-back: '(max-width: 1370px)';
$interval: '(max-width: 1200px)';
$large-desktop: '(min-width: 1440px)';
$full-desktop: '(min-width: 1920px)';
$uhd-desktop: '(min-width: 2500px)';
$retina: '(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)';
$forHoverOne: '(min-width: 668px) and (max-width: 880px)';
$forHoverTwo: '(min-width: 1025px) and (max-width: 1209px)';
$forHoverPhone: '(min-width: 320px) and (max-width: 500px)';
$forAboutUs: '(max-width: 1380px)';

@mixin respond-to($media) {
    @media screen and #{$media} {
        @content;
    }
}