$brandGreen: #428E43;
$brandWhite: #fff;
$brandBG: #F8F8F8;
$brandPhone: #949494;

$brandText: #000000;
$brandFooter: #686868;

$montserat: 'Montserrat';
$raleway: 'Raleway';

$opensans: 'Open Sans';

$SourceSansPro: 'Source Sans Pro';
$WorkSans: 'Work Sans';
$playfair: 'Playfair Display';
$bebas: 'Bebas Neue', arial;
$robot: 'Roboto';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular/BebasNeueRegular.woff'),
        url('../fonts/BebasNeueRegular/BebasNeueRegular.otf'),
        url('../fonts/BebasNeueRegular/BebasNeueRegular.svg'),
        url('../fonts/BebasNeueRegular/BebasNeueRegular.eot'),
        url('../fonts/BebasNeueRegular/BebasNeueRegular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasBold/BebasNeueBold.woff'),
        url('../fonts/bebasBold/BebasNeueBold.otf'),
        url('../fonts/bebasBold/BebasNeueBold.svg'),
        url('../fonts/bebasBold/BebasNeueBold.eot'),
        url('../fonts/bebasBold/BebasNeueBold.ttf');
    font-weight: 700;
    font-style: normal;
}